.nav-link, .nav-link.active {
    color: #fff !important;
}
.slider {
    border: 4px solid #198754;
}
.lists-product {
    margin-top: 20px;
}
.carousel-caption h5  {
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.carousel-caption p {
    color: #000;
}
.content {
    margin: 20px 0;
}
.account, .category, .products-favorite {
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
button {
    margin-bottom: 10px;
}
.account form {
    padding: 0 20px 20px;
}
.form-check {
    margin: 10px 0;
}
.list-group-item .item-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.item-text {
    margin-left: 10px;
}
.account  a {
    text-decoration: none;
}
.exit {
    margin-top: 20px;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.hedding {
    font-size: 20px;
    color: #ab8181;
}
.main-section {
    width: 100%;
}
.left-side-product-box img {
    width: 100%;
}
.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}
.right-side-pro-detail span {
    font-size: 15px;
}
.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}
.right-side-pro-detail .price-pro {
    color: #E45641;
}
.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}
.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}
@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}

/*product*/

